<mat-toolbar class="mat-elevation-z6">
    <a href="/home"><img src="assets/img/UrbanFashion.png" height="50px" width="78px"></a>
    <!--We need to add the space between logo and other navigation activities written in css -->
    <div class="spacer"></div>
    <!--written path in routing modules hence writen href using a tags-->
    <div class="main">
      <input type="text" placeholder="search for products" size="50">
      <a href="/home" mat-button>Home</a>
      <a mat-button href="/aboutus">AboutUs</a>
      <a mat-button href="/products">Products</a>
      <a mat-button href="/bundles">Bundles</a>
      <a mat-button href="/favorites"><mat-icon>favorite_border</mat-icon></a>
      <a mat-button href="/carts"><mat-icon>shopping_cart</mat-icon></a>
      <a mat-raised-button href="/signup" color="accent">Signup</a>
    </div>
  </mat-toolbar>
<div class="products">
  <h1>PRODUCTS</h1>
</div>